@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  background-color: hsl(204, 43%, 93%);
}

.container {
  width: 19.4em;
  margin: 4.5em auto;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.5em 0.125em rgba(0, 0, 0, 0.1);
}

.top {
  padding: 1.7em 1.5em 2em 1.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  text-align: left;
  background-color: rgb(255, 255, 255);
}

.top h1 {
  font-size: 1.22rem;
  color: hsl(179, 62%, 43%);
}

.top h3 {
  margin-top: 1.7em;
  margin-bottom: 1.1em;
  line-height: 1.4;
  font-size: 0.91rem;
  color: hsl(71, 73%, 54%);
}

.top p {
  line-height: 1.95;
  font-size: 0.85rem;
}

.bottom-left {
  padding: 1.55em 1.5em;
  color: rgb(255, 255, 255);
  background-color: hsl(179, 62%, 43%);
}

.bottom-left h2 {
  font-size: 1.1rem;
}

.bottom-left__flex {
  margin-top: 1em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.bottom-left__flex span {
  margin-right: 0.35em;
  font-size: 2.1rem;
}

.bottom-left__flex p {
  color: rgb(255, 255, 255, 0.5);
}

.full-access {
  margin-bottom: 2em;
  font-size: 0.975rem;
}

button {
  padding: 0.95em 6.565em;
  border-radius: 0.3125em;
  border-style: hidden;
  box-shadow: 0 0.125em 0.5em 0.125em rgba(0, 0, 0, 0.1);
  background-color: hsl(71, 73%, 54%);
  font-size: 0.97rem;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  color: rgb(255, 255, 255, 80%);
  cursor: pointer;
}

.bottom-right {
  padding: 1.55em 1.5em 0.6em 1.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  color: rgb(255, 255, 255);
  background-color: hsl(179, 62%, 43%, 0.8);
}

.bottom-right h2 {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  font-size: 0.86rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255, 255, 255, 70%);
}

nav ul {
  margin: 1em 0;
  list-style: none;
}

@media screen and (min-width: 768px) {

  body {
    width: 100%;
    margin: 10.2em auto auto auto;
    /* margin: 0 auto; */
  }

  .container {
    width:39.7em;
    /* margin: 0 auto; */
  }

  .top {
    padding: 2.55em 2.6em;
  }

  .top h1 {
  font-size: 1.45rem;
}

.top h3 {
   margin-top: 1.3em;
  margin-bottom: 0.5em;
  font-size: 1.1rem;
}

.top p {
  line-height: 1.7;
font-size: 0.97rem
}

.row {
  display: flex;
}

.bottom-left {
  padding: 2.55em 2.5em 2.4em 2.5em;
  border-bottom-left-radius: 0.5em;
}

button {
  padding: 0.95em 5.75em;
}

.bottom-right {
  padding-top: 2.55em;
  padding-left: 2.52em;
  padding-right: 6.265em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.5em;
}

.bottom-right h2 {
  margin-bottom: 1em;
}



}
